@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .search-input {
    @apply flex h-9 w-full rounded-md border bg-transparent px-3 py-1 text-sm shadow-sm transition-colors pl-8;
  }
}

body {
  @apply font-sans text-[#374151];
}

.alert-box {
  @apply relative w-full rounded-lg border px-4 py-3 text-sm bg-background text-foreground;
}

.alert-box svg {
  @apply absolute left-4 top-4 h-4 w-4 text-foreground;
}

.alert-box h5 {
  @apply mb-1 font-medium leading-none tracking-tight;
  background-color: transparent;
}

.alert-description {
  @apply leading-relaxed text-xs text-gray-600;
}

.search-input:focus-visible {
  @apply outline-none ring-1 ring-ring;
}

.search-button {
  @apply inline-flex items-center justify-center gap-2 whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring;
}

.search-button-primary {
  @apply bg-secondary text-secondary-foreground shadow-sm hover:bg-secondary/80 h-8 rounded-md px-3 text-xs;
}

.search-button-outline {
  @apply border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-8 rounded-md px-3 text-xs;
}

.accordion-title {
  @apply flex items-center justify-between py-4 text-sm font-medium transition-all hover:no-underline;
}

.accordion-content {
  @apply text-sm overflow-hidden;
}

.accordion-content-inner {
  @apply pb-4 pt-0;
}

.requirement-item {
  @apply flex items-center gap-2 p-2 rounded hover:bg-gray-100 cursor-pointer;
}

.requirement-label {
  @apply w-8 text-sm font-medium text-gray-500;
}

.requirement-description {
  @apply flex-1 text-sm group-hover:text-gray-900;
}

.requirement-tag {
  @apply inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold shadow transition-colors;
}
